C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\aggregates.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\aggregates.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\bom.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\family.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\family.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\fib.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\flights.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\grammar.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\hanoi.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\integers.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\loop.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\mrtc.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\mutrecursion.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\mutrecursion.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\negation.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\orbits.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\orbits1.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\paradox.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\parity.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\paths.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\paths.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\pdg_orbits.txt
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\pets.ini
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\pets1.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\pets2.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\pets_trust.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\puzzle.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\recursion.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\relop.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\relop.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\russell.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\russell.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\sg.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\spaths.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\spaths.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\tc.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\trains.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\tranclosure.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\tranclosure.sql
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\typedpuzzle.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\des\examples\wsp.dl
C:\Documents and Settings\Salcedonia\Mis documentos\Downloads\TextLineNumber.java
C:\Documents and Settings\Salcedonia\Mis documentos\Projecto\jEdit\README.SRC.txt
