C:\Documents and Settings\Salcedonia\Escritorio\as.txt
C:\Documents and Settings\Salcedonia\Escritorio\file1.txt
C:\Documents and Settings\Salcedonia\Escritorio\file2.txt
C:\Documents and Settings\Salcedonia\Escritorio\file3.txt
C:\Documents and Settings\Salcedonia\Escritorio\file4
C:\Documents and Settings\Salcedonia\Escritorio\file5.txt
C:\Documents and Settings\Salcedonia\Escritorio\acide\configuration\project\proyecto2.acidePrj
